<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Login Registration</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <% if (messages.errors ) { %>
                    <% for ( error of messages.errors) { %>
                        <div class="alert-danger"><%= error %></div>
                    <% } %>
                <% } %>
                
                <% if (messages.success ) { %>
                   
                        <div class="alert-success"><%= messages.success %></div>
                <% } %>

                <% if (messages.PasswordMissMatch ) { %>
                   
                    <div class="alert-danger"><%= messages.PasswordMissMatch %></div>
                <% } %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <% include partials/registration %>
            </div>
            <div class="col-md-4">
                <% include partials/login %>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>